<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% block title %} OMP - Add Category {% endblock %}

{% block content %}

    <h1>Add a Project</h1>
    <div>
        <form id="project_form" method="post" action="/omp/dash_supervisor/add_project/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor %}
            <input type="submit" name="submit" value="Create Project" />
        </form>
    </div>

{% endblock %}