<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% load staticfiles %}

{% block title %} OMP - Add Model {% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/addmodel.css' %}" />
{% endblock %}

{% block navbar %}
<li id="navoptions"><h2><a href="/omp/logout/">Log Out</a></h2></li>
<li id="navoptions"><h2><a href="/omp/{{ user.username }}/dashboard">Dashboard</a></h2></li>
{% endblock %}

{% block content %}
    <div>
        <div id ="leftinfo">
            <img id="profile" src="{% static 'images/profile-pictures.png' %}" alt="Profile Image"/>
            <p id="username">{{ user.username }}</p>
        </div>

        <div class="addform">
            <h2>New {{ itemname }}</h2>
            <form id="model_form" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" value="Create" />
            </form>
        </div>
    </div>

{% endblock %}