<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% load staticfiles %}

{% block title %} Category Administration {% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}" />
{% endblock %}

{% block navbar %}
<li id="navoptions" style="float:right;font-size:12px"><h2>Log Out</h2> <h2>Dashboard</h2></li>
{% endblock %}

<div id = "container">
        <div id ="leftinfo">
            <img id="profile" src="{% static 'images/profile-pictures.png' %}" alt="Profile Image"/>
            <p id="username">{{ user.username }}</p>
            <p>Permission: Administrator</p>
            <p>Current Stage: {{ stage }}</p>
            <form action="" method="post">{% csrf_token %}
            <input type="Submit" value= "Previous" name="Previous"/><input type="Submit" value="Next" name="Next"/>
    </form>
        </div>
    <div id = "rightinfo">
    <h2 class="header" style="text-align:center">Project Categories</h2>
            <Table class="center">
                <tr>
                    <th>Category</th>
                </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                </tr>
            {% endfor %}
            </Table>
    </div>
</div>