<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% load staticfiles %}

{% block title %} Category Administration {% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}" />
{% endblock %}

{% block navbar %}
<li id="navoptions"><h2><a href="/omp/logout/">Log Out</a></h2></li>
<li id="navoptions"><h2><a href="/omp/{{ user.username }}/dashboard">Dashboard</a></h2></li>
{% endblock %}

{% block content %}

    <div id = "container">
            <div id ="leftinfo">
                <img id="profile" src="{% static 'images/profile-pictures.png' %}" alt="Profile Image"/>
                <p id="username">{{ user.username }}</p>
                <p>Permission: Administrator</p>
                <p>Current Stage: {{ stage }}</p>
        </form>
            </div>
        <div id = "rightinfo">
        <h2 class="header" style="text-align:center">Project Categories</h2>
                <Table class="center">
                    <tr>
                        <th>Admin</th>
                        <th></th>
                    </tr>
                {% for admin in admins %}
                        <td>
                            <a href="/omp/{{ user.username }}/admin/edit/{{ admin.user.username }}/">{{ admin.user.username }}</a>
                        </td>
                        <td>
                        <form method="post" action = "">{% csrf_token %}
                            <input name="Delete" type="submit" value="Delete {{ admin.id }}" />
                        </form>
                        </td>
                    </tr>
                {% endfor %}
                </Table>
            {{ delete_message }}
        </div>
    </div>

{% endblock %}