<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% load staticfiles %}

{% block title %} OMP Categories {{ category.name }} {% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}" />
{% endblock %}

{% block navbar %}
<li id="navoptions"><h2><a href="/omp/logout/">Log Out</a></h2></li>
<li id="navoptions"><h2><a href="/omp/{{ user.username }}/dashboard">Dashboard</a></h2></li>
{% endblock %}

{% block content %}

    <div id="container">
        <div id ="leftinfo">
            <img id="profile" src="{% static 'images/profile-pictures.png' %}" alt="Profile Image"/>
            <p id="username">{{ user.username }}</p>
            {% if student %}
                <p>Permission: Student</p>
                <p>Project: {{ student.project.name }}</p>
                <p>View projects in: <a href="/omp/category/{{ student.category.slug }}">{{ student.category.name }}</a></p>
            {% endif %}

        </div>
    {% if category %}
        <h1 style="text-align:center">{{ category.name }}</h1>
        {% if projects %}
            <Table class="center">
                <tr>
                    <th>Project</th>
                    <th>Supervisor</th>
                    <th>Software Engineering</th>
                </tr>
            {% for project in projects %}
                <tr>
                    <td><a href="/omp/category/{{ category.slug }}/project/{{ project.slug }}">{{ project.name }}</a></td>
                    <td>{{ project.supervisor.user.username }}</td>
                    {% if project.softEng %}
                   <td> <input type="checkbox" onclick="return false;" checked/></td>
                    {% else %}
                    <td> <input type="checkbox" onclick="return false;" /></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </Table>
        {% else %}
            <strong>No projects currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
    </div>


{% endblock %}
