<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% load staticfiles %}

{% block title %} OMP Categories {{ category.name }} {% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}" />
{% endblock %}

{% block navbar %}
<li id="navoptions" style="float:right;font-size:12px"><h2>Log Out</h2> <h2>Dashboard</h2></li>
{% endblock %}

{% block content %}

    <div>
    {% if category %}
        <h1 style="text-align:center">{{ category.name }}</h1>
        {% if projects %}
            <Table class="center">
                <tr>
                    <th>Project</th>
                    <th>Supervisor</th>
                    <th>Software Engineering</th>
                </tr>
            {% for project in projects %}
                <tr>
                    <td><a href="/omp/category/{{ category.slug }}/project/{{ project.slug }}">{{ project.name }}</a></td>
                    <td>{{ project.supervisor.user.username }}</td>
        `           <td> <input type="radio" value="" checked="{{ project.softEng }}" /></td>
                </tr>
            {% endfor %}
            </Table>
        {% else %}
            <strong>No projects currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
    </div>

    <p>Return to the <a href="/omp/{{ user.username }}/dashboard/">dash!</a></p>

{% endblock %}
