<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% block title %} OMP Categories {% endblock %}

{% block content %}

    <p>This is the category list! Take a look around!</p>
    <p>Go to the <a href="/omp/dash">dash!</a></p>

    <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories yet.</strong>
        {% endif %}
    </div>

{% endblock %}
