<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% block title %} OMP Dashboard {% endblock %}

{% block content %}

    <p>This is your dashboard, {{ user.username }}! You are logged in as a supervisor.</p>

    <p>
    {% if categories %}
        <p>You are subscribed to:</p>
        <ul>
            {% for category in categories %}
            <li>
                <a href="/omp/category/{{ category.slug }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>You're not subscribed to any categories.</strong>
    {% endif %}
    </div>

    <p>You can <a href="/omp/logout/">logout </a>here.</p>

{% endblock %}
