<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% load staticfiles %}

{% block title %} OMP Dashboard {% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/studentdash.css' %}" />
{% endblock %}

{% block navbar %}
<li class="navoptions" style="float:right;font-size:10px;"><h1><a href="/omp/logout/">Log Out</a></h1></li>
{% endblock %}


{% block content %}

    <p>This is your dashboard, {{ user.username }}! You are logged in as a student.</p>

    <p>You are subscribed to <a href="/omp/category/{{ student.category.slug }}">{{ student.category.name }}</a></p>
    <div>
    {% if student.favourites %}
        <p>Favourite projects:</p>
        <ul>
        {% for project in student.favourites.all %}
            <li>
                <a href="/omp/category/{{ project.category.id }}/project/{{ project.slug }}">{{ project.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any favourite projects yet.</p>
    {% endif %}
    </div>
    <div>
    {% if preferences %}
        <p>Project Preferences</p>
        <ul>
        {% for pref in preferences %}
            <li>
                {{ pref.rank }}  <a href="/omp/category/{{ pref.project.category.id }}/project/{{ pref.project.slug }}">{{ pref.project.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any ranked projects.</p>
    {% endif %}
    </div>

    <p>You can logout </a>here.</p>

    {{ prefitem }}

{% endblock %}
