<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% block title %} OMP Dashboard {% endblock %}

{% block navbar %}
<li class="navoptions" style="float:right;font-size:10px;"><h1><a href="/omp/logout/">Log Out</a></h1></li>
{% endblock %}

{% block content %}

<div>
<h5>User: {{ user.username }}<br>
    Current Stage: {{ stage }}
    </h5>
    <form action="" method="post">{% csrf_token %}
    <input type="Submit" value= "Previous" name="Previous"/><input type="Submit" value="Next" name="Next"/>
    </form>


    <p><a href="/omp/{{ user.username }}/admin/categories/">Edit Categories</a></p>
    <p><a href="/omp/{{ user.username }}/admin/students/">Edit Students</a></p>
    <p><a href="/omp/{{ user.username }}/admin/supervisors/">Edit Supervisors</a></p>
    <p><a href="/omp/{{ user.username }}/admin/projects/">Edit Projects</a></p>
    <p><a href="/omp/{{ user.username }}/admin/prefs/">Edit Preference Lists</a></p>
</div>


{% endblock %}
