<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% block title %} OMP Dashboard {% endblock %}

{% block content %}

        <p>This is your dashboard, {{ name }}! You are logged in as an admin.</p>
        <p>Go to the <a href="/omp/">homepage!</a></p>

        <p>There is a list of categories <a href="/omp/dash/categories/">here</a></p>

        <p>Or, take a look at the <a href="/omp/dash/projects/">projects!</a></p>
        <p>Try <a href="/omp/dash/addcategories/">adding</a> one!</p>

        <p>You can <a href="/omp/logout/">logout </a>here.</p>

{% endblock %}
