<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% block title %} OMP Homepage {% endblock %}

{% block content %}

    {% if user %}
        <p>This is your dashboard, {{ user.id }}! Take a look around!</p>
        <p>Go to the <a href="/omp/">homepage!</a></p>

        <p>There is a list of categories <a href="/omp/dash/categories">here</a></p>

        <p>Or, take a look at the <a href="/omp/dash/projects">projects!</a></p>
    {% else %}
        This user does not exist!
    {% endif %}
{% endblock %}
