<!DOCTYPE html>

{% extends 'omp/base.html' %}

{% block title %} OMP Projects {% endblock %}

{% block content %}

    <div>
        {% if project %}
                <p>{{ project.name }}</p>
                <P>{{ project.description }}</P>
        {% else %}
            <strong>This project does not exist.</strong>
        {% endif %}
    </div>
    {{ if student }}
    <p>Add this project to favourites:</p><form method="post" action = ""><input type="submit" value="Add" />
    {{ endif }}


    <p>Return to <a href="/omp/category/{{ category.slug }}">{{ category.name }}</a></p>

{% endblock %}
