html, body
{
    margin: 0;
    padding: 0;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003964;
    font-family: 'Ubuntu', sans-serif;
}

#navbar h1 {
    text-align: center;
    color: #ffffff;
    margin: 30px;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p {
 margin-left: 1px;
}